:root {
    --primary-color: #54BAB9;
    --primary-color-light: #c0eceb;
    --primary-color-dark: #2c8b8a;

    --secondary-color: #1a1a1a;
    --secondary-color-dark: #0d0d0d;
    --secondary-color-darker: #000;

    --text-color: #fff;
    --text-color-invert: #000;
}

.light {
    --primary-color: #42032C;
    --primary-color-light: #42032C;
    --primary-color-dark: #42032C;

    --secondary-color: #F7ECDE;
    --secondary-color-dark: #E9DAC1;
    --secondary-color-darker: #bfa77d;

    --text-color: #000;
    --text-color-invert: #fff;
}