/*---------------
     Imports
----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import '../scss/fonts.scss';
@import '../scss/colors.scss';

/*---------------
    Variables
----------------*/
$border-radius-base: 2px;

/*---------------
     General
----------------*/
body {
    min-height: 500px;
    background-color: var(--secondary-color)!important;
    font-family: map-get($map: $fonts, $key: poppins)!important;
}

p {
    margin-bottom: 0!important;
    color: var(--text-color)!important;
}

ul {
    margin: 0!important;
    padding: 0!important;
    list-style: none;
}

i {
    color: var(--primary-color);
}

a {
    color: var(--primary-color)!important;
    text-decoration: none!important;
    transition: .4s;

    &:hover, &:focus, &:active {
        color: var(--primary-color-dark);
    }
}

/*---------------
    Portfolio
----------------*/
.container {
    padding: 20px;
}
.portfolio {
    &-title {
        position: relative;
        font-size: 25px;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 2px;
            width: 60px;
            background-color: var(--primary-color);
            border-radius: $border-radius-base;
        }
    }

    &-card {
        margin-top: 10px;
        padding: 20px;
        background: var(--secondary-color-dark);
        border-radius: $border-radius-base;
        box-shadow: 10px 10px 5px -10px var(--secondary-color);

        &-user {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &-media {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 2px solid var(--primary-color);
                background-color: var(--secondary-color);
                background-image: url(../img/photo.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            &-content {
                margin-top: 10px;
                p {
                    span {
                        margin-top: 0;
                        font-size: 13px;
                        font-style: italic;
                    
                    }

                    i {
                        font-size: 12px;
                        color: var(--primary-color);
                    }

                    small {
                        font-size: .8em;
                    }
                }
                
                &-list {
                    margin: 20px 0 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: space-evenly;

                    li {
                        display: flex;justify-content: center;align-items: center;
                        padding: 10px;
                        background-color: var(--secondary-color-darker);
                        border-radius: $border-radius-base;
                        transition: .4s;

                        a {
                            display: flex;justify-content: center;align-items: center;
                        }
                        &:hover, &:focus, &:active {
                            background-color: var(--primary-color-dark);
                            
                            a {
                                color: var(--secondary-color-dark);


                                i {
                                    color: var(--secondary-color-dark);
                                }
                            }
                        }
                    }
                }

                hr {
                    background-color: var(--primary-color-light); 
                }
            }
        }

        &-references {
            &-list {
                margin-top: 5px!important;

                p {
                    margin-top: 7px;
                    font-size: 13px;
                    display: flex;justify-content: space-between;align-items: center;

                    a {
                        padding: 5px 7px;
                        background-color: var(--secondary-color-darker);
                        border-radius: $border-radius-base;

                        &:hover, &:focus, &:active {
                            background-color: var(--primary-color-dark);
                            color: #fff!important;
                        }
                    }  
                }
            }
        }

        &-languages {
            &-list {

                margin-top: 5px!important;

                p {
                    font-size: 13px;

                    small {
                        font-style: italic;
                    }
                }
            }
        }

        &-cv {
            p {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    padding: 10px;
                    display: flex; justify-content: center; align-items: center;
                    background-color: var(--secondary-color-darker);
                    border-radius: $border-radius-base;
                    transition: .4s; 

                    &:hover, &:focus, &:active {
                        background-color: var(--primary-color-dark);
                        color: var(--secondary-color-dark);

                        i {
                            color: var(--secondary-color-dark);
                        }
                    }
                }
            }
        }

        &-experience {
            &-list {
                margin-top: 15px!important;
                padding: 0;
                list-style: none;
    
                li {
                    p {
                        small {
                            margin-left: 20px;
                            font-style: italic;
                        }
                        i {
                            font-size: 15px;
                            &.ri-map-pin-3-fill {
                                &.flip {
                                    transform: rotate(-90deg);
                                }
                            }
                        }
                    }
                }
            }    
        }

        &-resume {
            p {
                &:not(.portfolio-title) {
                    margin-top: 10px;
                    white-space: preline;
                }
            }
        }
    }

    &-change {
        padding: 10px 15px;
        position: fixed;
        bottom: 10px;
        right: 10px;

        background: var(--secondary-color-dark);
        border-radius: $border-radius-base;

        cursor: pointer;
        transition: .4s;

        i {
            font-size: 20px;
            color: var(--primary-color);
        }

        &:hover, &:focus, &:active {
            background: var(--secondary-color-darker);

        }
    }
}