/*---------------
    Variables
----------------*/

    // $brand-primary: #EF3F61;
    $brand-primary: #D36B00;
    $brand-primary-dark: darken($brand-primary, 10%);
    $brand-primary-light: lighten($brand-primary, 10%);

    // $brand-secondary: #000;  
    $brand-secondary: #F1EFDC;
    $brand-secondary-dark: darken($brand-secondary, 10%);
    $brand-secondary-light: lighten($brand-secondary, 10%);

    // $text-color: #fff;
    $text-color: #000;
    
    $border-radius-base: 2px;

/*---------------
     Imports
----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

/*---------------
     General
----------------*/
body {
    min-height: 500px;
    background-color: $brand-secondary-light!important;
    font-family: 'Poppins', sans-serif!important;

}

p {
    margin-bottom: 0!important;
    color: $text-color!important;
}

ul {
    margin: 0!important;
    padding: 0!important;
    list-style: none;
}

i {
    color: $brand-primary;
}

a {
    color: $brand-primary!important;
    text-decoration: none!important;
    transition: .4s;

    &:hover, &:focus, &:active {
        color: $brand-primary-dark;
    }
}

/*---------------
    Portfolio
----------------*/
.container {
    padding: 20px;
}
.portfolio {
    &-title {
        position: relative;
        font-size: 25px;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 2px;
            width: 60px;
            background-color: $brand-primary;
            border-radius: $border-radius-base;
        }
    }

    &-card {
        margin-top: 10px;
        padding: 20px;
        background: lighten($brand-secondary, 5%);
        border-radius: $border-radius-base;
        box-shadow: 10px 10px 5px -10px $brand-secondary-light;

        &-user {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &-media {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 2px solid $brand-primary;
                background-color: $brand-secondary;
                background-image: url(../img/photo.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            &-content {
                margin-top: 10px;
                p {
                    span {
                        margin-top: 0;
                        font-size: 13px;
                        font-style: italic;
                    
                    }

                    i {
                        font-size: 12px;
                        color: $brand-primary;
                    }

                    small {
                        font-size: .8em;
                    }
                }
                
                &-list {
                    margin: 20px 0 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: space-evenly;

                    li {
                        display: flex;justify-content: center;align-items: center;
                        padding: 10px;
                        background-color: $brand-secondary-dark;
                        border-radius: $border-radius-base;
                        transition: .4s;

                        a {
                            display: flex;justify-content: center;align-items: center;
                        }
                        &:hover, &:focus, &:active {
                            background-color: $brand-primary-dark;
                            
                            a {
                                color: $brand-secondary;


                                i {
                                    color: $brand-secondary;
                                }
                            }
                        }
                    }
                }

                hr {
                    background-color: $brand-primary-light; 
                }
            }
        }

        &-references {
            &-list {
                margin-top: 5px!important;

                p {
                    margin-top: 7px;
                    font-size: 13px;
                    display: flex;justify-content: space-between;

                    a {
                        padding: 3px;
                        background-color: $brand-secondary-dark;
                        border-radius: $border-radius-base;

                        &:hover, &:focus, &:active {
                            background-color: $brand-primary-dark;
                            color: #fff!important;
                        }
                    }  
                }
            }
        }

        &-languages {
            &-list {

                margin-top: 5px!important;

                p {
                    font-size: 13px;

                    small {
                        font-style: italic;
                    }
                }
            }
        }

        &-cv {
            p {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    padding: 10px;
                    display: flex; justify-content: center; align-items: center;
                    background-color: $brand-secondary-dark;
                    border-radius: $border-radius-base;
                    transition: .4s; 

                    &:hover, &:focus, &:active {
                        background-color: $brand-primary-dark;
                        color: $brand-secondary;

                        i {
                            color: $brand-secondary;
                        }
                    }
                }
            }
        }

        &-experience {
            &-list {
                margin-top: 15px!important;
                padding: 0;
                list-style: none;
    
                li {
                    p {
                        small {
                            margin-left: 20px;
                            font-style: italic;
                        }
                        i {
                            font-size: 15px;
                            &.ri-map-pin-3-fill {
                                &.flip {
                                    transform: rotate(-90deg);
                                }
                            }
                        }
                    }
                }
            }    
        }
    }

    &-change {
        padding: 10px 15px;
        position: fixed;
        bottom: 10px;
        right: 10px;

        background: lighten($brand-secondary, 5%);
        border-radius: $border-radius-base;
        box-shadow: 10px 10px 5px -10px $brand-secondary-light;

        cursor: pointer;
        transition: .4s;

        i {
            font-size: 20px;
            color: $brand-primary;
        }

        &:hover, &:focus, &:active {
            background: lighten($brand-secondary, 1%);

        }
    }
}